version: "3.0"
services:
  redis:
    image: redis:alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    container_name: deficiente-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
networks:
  proxy:
    external: true
